* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.notes {
  flex: 1;
}

button {
  padding: 3px;
}
